{% set settings = header.lightslider|merge(page.header.lightslider) %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#lightSlider").lightSlider({
        slideMargin: {{ settings.slideMargin|default('0') }},
        slideMove: {{ settings.slideMove|default('1') }},
        mode: '{{ settings.mode|default('slide') }}',
        pager: {{ settings.pager|default('true') }},
        controls: {{ settings.controls|default('true') }},
        keyPress: {{ settings.keyPress|default('true') }},
        pause: {{ settings.pause|default('2000') }},
        speed: {{ settings.speed|default('1000') }},
        auto: {{ settings.auto|default('false') }},
        loop: {{ settings.loop|default('true') }},
        easing: '{{ settings.easing|default('') }}'
    });
  });
</script>

<div id="lightSlider-wrapper">
    <ul id="lightSlider" style="
        {% if settings.height %}height: {{ settings.height }};{% endif %}
    ">
      {% for panel in page.content|split('<hr />') %}
      {% set panel_image = page.media['image-'~loop.index~'.jpg'].brightness(settings.brightness|default('-100')) %}
      <li>
        <div class="panel-bg" style="
            {% if panel_image %}background-image: url({{ panel_image.url }});{% endif %}
            {% if settings.min_height %}min-height: {{ settings.min_height }};{% endif %}
            {% if settings.height %}height: {{ settings.height }};{% endif %}
            ">
            <div class="panel-padding">
            {{ panel }}
            </div>
        </div>
      </li>
      {% endfor %}
    </ul>
</div>



